@font-face {
  font-family: 'JSDongkang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'JSDongkang-Regular';
  background-image: url(/src/img/korean_paper_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.MainPhoto {
  width: 60%;
}

.GoogleMap {
  width: 90%;
  height: 500px;
}

.Etransfer {
  margin: 10px;
}

.KakaoButton {
  margin: 5px;
  height: 100%;
}