@font-face {
  font-family: 'JSDongkang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'JSDongkang-Regular';
}

.MainPhoto {
  width: 30%;
}

.Map {
  width: 60%;
  height: 60%;
}

.GoogleMap {
  width: 60%;
  height: 500px;
}