@font-face {
  font-family: 'JSDongkang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.App {
  font-family: 'JSDongkang-Regular';
  background-image: url(/src/img/korean_paper_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Heading {
  font-family: 'EBSHMJESaeronRA';
  font-size: 1.2em;
}

.MainPhoto {
  width: 60%;
}

.context {
  margin-bottom: 20px;
}

.GoogleMap {
  width: 90%;
  height: 500px;
}

.Etransfer {
  margin: 10px;
  font-size: 95%;
}

.centeredText {
  text-align: center;
}